{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Container Name</th>
        <th>CPU Usage %</th>
        <th>Memory Usage %</th>
        <th>Network In (KB)</th>
        <th>Network Out (KB)</th>
    </tr>
  {% for container in containers %}
  <tr>
    <td>{{container['id']}}</td>
    <td>{{container['name']}}</td> 
    <td>{{container['cpu']}}</td> 
    <td>{{container['memory']}}</td>
    <td>{{container['network_in']}}</td> 
    <td>{{container['network_out']}}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock %}
